* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;	
}

.box {
	width: 70%;
	margin: 20px auto 0px;
	/*border: 1px solid #000;*/
}

svg {
	/*border: 1px solid #000;*/
}

.icon-1 {
	fill: #201313;
	display: inline-block;	
	padding: 0;
} 

.icon-1:nth-child(1) {
	stroke: #00F0FF;	
} 

.icon-1:nth-child(2) {
	stroke: #007EFF;
} 

.icon-1:nth-child(3) {
	stroke: #310496;
} 

.icon-2 {
	/*width: 200px;	*/
	display: inline-block;
	fill: green;		
} 

.icon-3 {
	/*width: 200px;	*/
	display: inline-block;
	fill: none;
	stroke: red;
} 
